.bg{
    min-height: 100%;
    background-size: cover;
    background-image: linear-gradient(rgba(52,41,49,0.80), rgba(0,0,0,0.85)), url('../../assets/Images/loginBackground.jpg');
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-component{
    display: flex;
    background-color: rgba(255, 245, 245, 0.85);
    min-width: 25%;
    max-width: 25%;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.login-button{
    color: rgb(255, 255, 255)
}

a{
    text-decoration: none;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.error-disabled{
    background-color: rgba(255, 0, 0, 0.342);
    min-height: 20px;
    padding: 10px;
    border-radius: 15px;
    max-width: 75%;
    margin: auto;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

.links{
    margin-top: 10%;
}
