<div *ngIf="movie" class="background" [ngStyle]="{'background-image': 'linear-gradient(rgba(52,41,49,0.80), rgba(0,0,0,0.85)), url('+'https://image.tmdb.org/t/p/w1280'+movie.backdrop_path+')'}">
  <div class="flex-container">
    <div class="center-container">
        <div class="center-left-align">
            <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w342{{movie.poster_path}}" alt="Poster of {{movie.title}}">
          </div>
        <div class="center-right-align">
            <h3 *ngIf="movie.original_title">{{movie.original_title}}</h3>
            <p class='overview'>Overview</p>
            <p *ngIf="movie.overview">{{movie.overview}}</p>
            <div style="display: flex">
              <p style="font-size: 20px; margin: 5px; margin-bottom: 20px;">Categories:</p>
            <div *ngFor="let genre of movie.genres" style="flex: 0; padding: 0 5px;">
              <button mat-button class="genre-btns">{{genre.name}}</button>
            </div></div>
            <button mat-icon-button aria-label="Play trailer" (click)="projectPlayer()">
                <mat-icon svgIcon="play-icon" aria-hidden="false" aria-label="Play trailer"></mat-icon> Play Trailer
            </button>
        </div>
    </div>
  </div>
  <div style='color: gray; width:80%; margin: auto; text-align: left; font-weight: lighter;'> 
   <p style="font-size: 2em; margin: 10px; letter-spacing: 2px">Cast</p>
  </div>
  <div>
  <div *ngIf="cast" class='cast-display'>
    <div *ngFor="let actor of cast" class="actor-div" >  
      <div class='actor-profile'>
        <div>
            <a [routerLink]="[ '/actor/', actor.id ]">
              <div class='actor-img'>
                <p>
                  <img *ngIf="actor.profile_path" src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" onerror="this.onerror=null; this.src = '../../assets/Images/profilePic.png';" alt="actor.name">
                    <span class="char-name" *ngIf="actor.character">{{actor.character}}</span>
                    <br>
                    <span class="actor" *ngIf="actor.name">{{actor.name}}</span>
                  </p>
              </div>
            </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

